theme: jekyll-theme-chirpy

lang: en
timezone: Europe/Warsaw

title: Matthew on Software
tagline: Software Engineering Blog
description: >-
  Matthew is a software developer from Poland, who shares things that he learnt
  and already knew and wants to share in blog post form.
  Hope you will find something useful for yourself.

url: "https://mattonsoftware.com"
baseurl: ""

github:
  username: d3ska

social:
  name: Mateusz Deska
  links:
    - https://github.com/d3ska
    - https://www.instagram.com/mateusz_deska/

# Leave empty to follow system preference, or set to: light / dark
theme_mode:

avatar: /assets/images/me-2.jpg

toc: true

comments:
  provider: utterances
  utterances:
    repo: d3ska/d3ska.github.io
    issue_term: pathname

paginate: 10

kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - tools
  - README.md
  - LICENSE
  - removed
  - in_progress
  - _invisible

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
